<urlMappings>
    <add url="~/Documentos" mappedUrl="listgroup.aspx?idCanal=q4B1nl8FciemGWXWaV11rg==&amp;linguagem=pt" />
    <add url="~/fale-com-o-ri" mappedUrl="fale_conosco.aspx?idCanal=kasAf6Z1riEw5ho1MCv4tg==&amp;linguagem=pt" />
    <add url="~/central-de-resultados" mappedUrl="listresultados.aspx?idCanal=3oHaIXb9lLABLYsm1y+YVg==&amp;linguagem=pt" />
</urlMappings>